@model TechPractics2.Models.EDM.Address

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Flat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House)
        </dt>

        <dd>
            @Html.Label(Model.House.FullDisc)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
