@model TechPractics2.Models.EDM.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool IsCompany = false;
    TechPractics2.Models.EDM.Company comp = null;
    if (Model is TechPractics2.Models.EDM.Company)
    {
        comp = Model as TechPractics2.Models.EDM.Company;
        IsCompany = true;
    }
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @GlobalResources.SiteResources.Customer_FIO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIO)
        </dd>

        <dt>
            @GlobalResources.SiteResources.Customer_Passport
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passport)
        </dd>

        <dt>
            @GlobalResources.SiteResources.Customer_PhoneNumber
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        @if (IsCompany)
        {
            <dt>
                @GlobalResources.SiteResources.CompanyName
            </dt>

            <dd>
                @Html.Label(comp.CompanyName);
            </dd>

            <dt>
                @GlobalResources.SiteResources.Company_INN
            </dt>

            <dd>
                @Html.Label(comp.INN);
            </dd>
        }
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.Hidden("id",Model.Id)
        @Html.Hidden("IsCompany",IsCompany)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
