@model TechPractics2.Models.EDM.Person

@{
     ViewBag.Title = GlobalResources.SiteResources.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var User = Session[GlobalResources.SiteResources.User] as TechPractics2.Models.EDM.User;
}
@if (User != null && (User.UserType == TechPractics2.Models.EDM.UserType.Admin || User.UserType == TechPractics2.Models.EDM.UserType.Operator))
{

   <h2>@GlobalResources.SiteResources.Delete</h2>

    <h3>@GlobalResources.SiteResources.ConfirmDeleteMsg</h3>
    <div>
        <h4>@GlobalResources.SiteResources.Person</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FIO)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
               @Html.ActionLink(GlobalResources.SiteResources.Back, "Index")
            </div>
        }
    </div>

}
else
{
    <p>
        @Html.Label(GlobalResources.SiteResources.AccessErrorMsg, new { @class = "text-danger" })
        @Html.ActionLink(GlobalResources.SiteResources.Back, "Back", "Home")
    </p>
}