@{
    ViewBag.Title = GlobalResources.SiteResources.Contact;
}
<h2>@ViewBag.Title.</h2>

<address>
    @GlobalResources.SiteResources.CompanyName <br />
    @GlobalResources.SiteResources.CompanyContact <br />
    @GlobalResources.SiteResources.Customer_PhoneNumber:@GlobalResources.SiteResources.CompanyPhone
</address>

<address>
    <strong>@GlobalResources.SiteResources.Support:</strong> <a href=@GlobalResources.SiteResources.SupportEMailTo>@GlobalResources.SiteResources.SupportEMail</a>
</address>