@model TechPractics2.Models.EDM.Customer

@{
    ViewBag.Title = "CreateProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создание профиля</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label(GlobalResources.SiteResources.Customer_FIO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("FIO", null, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("FIO", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label(GlobalResources.SiteResources.Customer_Passport, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Passport", null, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("Passport", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label(GlobalResources.SiteResources.Customer_PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("PhoneNumber", null, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("PhoneNumber", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label(GlobalResources.SiteResources.Company, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBox("IsCompany", new { @checked = "checked" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label(GlobalResources.SiteResources.Company_CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("CompanyName", null, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("CompanyName", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label(GlobalResources.SiteResources.Company_INN, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("INN", null, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("INN", "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>
