@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
        <h1>@GlobalResources.SiteResources.CompanyName</h1>
        <p class="lead">@GlobalResources.SiteResources.AboutMessage</p>
       
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@GlobalResources.SiteResources.SignUp</h2>
        <p>
           @GlobalResources.SiteResources.SignUpMsg

        </p>
        <p>@Html.ActionLink(GlobalResources.SiteResources.SignUp,"SignUp","Home", new { @class = "btn btn-default" }) </p>

    </div>
    <div class="col-md-4">
        <h2>
            @GlobalResources.SiteResources.ViewMetersButtonTitle
        </h2>
        <p>
           @GlobalResources.SiteResources.ViewMetersButtonMsg
        </p>
        <p>@Html.ActionLink(GlobalResources.SiteResources.View,"ViewMeters",null, new { @class = "btn btn-default" })</p>

    </div>
    <div class="col-md-4">
        <h2>@GlobalResources.SiteResources.MakeOrder</h2>
        <p>
            @GlobalResources.SiteResources.MakeOrderMsg
        </p>
        <p>@Html.ActionLink(GlobalResources.SiteResources.MakeOrder,"MakeOrder",null, new { @class = "btn btn-default" })</p>

    </div>


</div>