@model IEnumerable<TechPractics2.Models.EDM.Customer>

@{
    ViewBag.Title = "ViewMyProfiles";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Мои профили</h2>

<p>
    @Html.ActionLink(GlobalResources.SiteResources.CreateProfile, "CreateProfile")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @GlobalResources.SiteResources.Company_CompanyName
        </th>
        <th>
            @GlobalResources.SiteResources.Company_INN
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        @if (item is TechPractics2.Models.EDM.Company)
        {
            <td>
                @Html.Label((item as TechPractics2.Models.EDM.Company).CompanyName);
            </td>
            <td>
                @Html.Label((item as TechPractics2.Models.EDM.Company).INN);
            </td>
        }
        <td>
            @Html.ActionLink(GlobalResources.SiteResources.ShareProfile, "ShareProfile", new { id = item.Id }) |
            @Html.ActionLink(GlobalResources.SiteResources.Delete, "RemoveProfile", new { id = item.Id })
        </td>
    </tr>
}

</table>
