@using TechPractics2.Models.EDM
@{ 
    User user = Session[GlobalResources.SiteResources.User] as User;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/header_1.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:cornflowerblue;" id="naravartopid">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(GlobalResources.SiteResources.WebSiteName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand", id = GlobalResources.SiteResources.navbarBrandId})
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav"style="font-size:20px;">
                    <li>@Html.ActionLink(GlobalResources.SiteResources.About, "About", "Home",null,new { id = GlobalResources.SiteResources.navbarLinkId_1 })</li>
                    <li>@Html.ActionLink(GlobalResources.SiteResources.Contact, "Contact", "Home", null, new { id = GlobalResources.SiteResources.navbarLinkId_2 })</li>
                    <li>
                        <table align="right" class="logintable" id="@GlobalResources.SiteResources.LoginTableId">
                            @if (user != null)
                            {
                                <tr>
                                    <td class="logintable">
                                        <button class="mycollapsible">
                                            <img src="~/Resources/userimg.png" width="20" height="20" />
                                            @user.Login @GlobalResources.SiteResources.FunctionsButtonText
                                        </button>
                                        <div class="action_options">
                                            <p>@Html.ActionLink(GlobalResources.SiteResources.Customers,"CustomerCollection","Customer")</p>
                                            <p>@Html.ActionLink(GlobalResources.SiteResources.Statuses,"StatusCollection","Status")</p>
                                            <p>@Html.ActionLink(GlobalResources.SiteResources.Cities,"Index","City")</p>
                                            <p>will have some buttons here</p>
                                            <p>@Html.ActionLink("Home","Index","Home")</p>
                                        </div>
                                    </td>
                                    
                                    <td class="logintable">
                                    @using (Html.BeginForm("SignOut", "Home", FormMethod.Post))
                                    {
                                        <button id="@GlobalResources.SiteResources.SignOutButtonId" type="submit" class="logout">
                                        @GlobalResources.SiteResources.SignOutButtonText</button>
                                    }
                                    </td>
                                </tr>
                                }
                                else
                                { 
                                 using (Html.BeginForm("SignIn", "Home", FormMethod.Post)) {
                                <tr>
                                    <td class="logintable">@Html.Label(GlobalResources.SiteResources.User_Login + ":", new { @class = "loginlabel"})</td>
                                    <td class="logintable">@Html.TextBox("Login",null, new { @class = "logintextbox", size = GlobalResources.SiteResources.LoginTextBoxSize})</td>
                                    <td class="logintable">@Html.Label(GlobalResources.SiteResources.User_Password + ":", new { @class = "loginlabel" })</td>
                                    <td class="logintable">@Html.Password("Password",null, new { @class = "logintextbox",size = GlobalResources.SiteResources.PasswordTextBoxSize }) </td>
                                    <td class="logintable">@Html.Label(GlobalResources.SiteResources.Remember, new { @class = "loginlabel" })  @Html.CheckBox("SaveToCookies", new { @checked = "checked" })</td>
                                    <td class="logintable"><button type="submit" class="loginbutton">@GlobalResources.SiteResources.Header_sing_in_msg</button></td>
                                </tr>  
                                }
                            }
                        </table> 
                    </li>      
                </ul>
            </div>
        </div>
    </div>
<script src="~/Scripts/mysript.js"></script>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – @GlobalResources.SiteResources.CompanyName</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
