@model TechPractics2.Models.EDM.OrderEntry

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var User = Session[GlobalResources.SiteResources.User] as TechPractics2.Models.EDM.User;
}
@if (User != null && (User.UserType == TechPractics2.Models.EDM.UserType.Admin || User.UserType == TechPractics2.Models.EDM.UserType.Operator))
{

    <h2>@GlobalResources.SiteResources.Details</h2>

    <div>
        <h4>@GlobalResources.SiteResources.OrderEntry</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Order)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Meter)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Meter.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status.FullDisc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RegNumer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegNumer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Person.FIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.FIO)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink(GlobalResources.SiteResources.Edit, "Edit", new { id = Model.Id }) |
       @Html.ActionLink(GlobalResources.SiteResources.Back, "Index")
    </p>

}
else
{
    <p>
        @Html.Label(GlobalResources.SiteResources.AccessErrorMsg, new { @class = "text-danger" })
        @Html.ActionLink(GlobalResources.SiteResources.Back, "Back", "Home")
    </p>
}