@model IEnumerable<TechPractics2.Models.EDM.OrderEntry>

@{
    ViewBag.Title = "Selection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Selection</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegNumer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.FIO)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegNumer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FIO)
        </td>
    </tr>
}

</table>
