@model IEnumerable<TechPractics2.Models.EDM.Status>

@{
    ViewBag.Title = "StatusCollection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StatusCollection</h2>

<p>
    @Html.ActionLink("Create New", "Add","Status")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","Status", new { id=item.Id },null) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
